
{{#each posts}}
<div class="blog-container">
        
        <h2 id="user-subject">{{post_title}}</h2>
          
        <p id="user-body">{{post_description}}</p>

      </div>
       {{/each}}
      