<form class="New-post">
      <h1 id="create-post">Create post</h1>
      <div class="form-group">
        <input class="form-input" id="post-title" placeholder="Enter Title" type="text">
      </div>
      <div class="form-group">
        <textarea class="form-input" id="post-body" placeholder="Enter text here" type="text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="submit-btn" class="btn btn-primary">Create New Post!</button>
      </div>
    </form>