 <div class="profile-greeting">
    <h2>Welcome, {{name}}!</h2>
  </div>
    
{{#each posts}}
<div class="blog-container">
        
        <h2 id="user-subject">{{post_title}}</h2>
          
        <p id="user-body">{{post_description}}</p>

      </div>
       {{/each}}


  {{!-- TODO: Also need to create new post button at the top or bottom of the page --}}