 <div class="profile-greeting">
    <h2>Welcome, {{name}}!</h2>
  </div>
    
  {{!-- TODO I also want to show the users posts to allow them to view and edit tor delete them --}}


  {{!-- TODO: Also need to create new post button at the top or bottom of the page --}}