 <div class="profile-greeting">
    <h2>Welcome, {{users.name}}!</h2>
  </div>
    
{{#each posts}}
<div class="blog-container">
        
        <h2 id="user-subject"></h2>
          
        <p id="user-body"></p>

      </div>
       {{/each}}


  {{!-- TODO: Also need to create new post button at the top or bottom of the page --}}