/* =============================================================== */
/* =============================================================== */
/* styling for main.handlebars nav and body  */

body {
    background-color: tan;
}

header {
    display: flex;
    justify-content: center;
    background-color: maroon;
    padding: 40px;
    color: tan;
}

.page-header {
    border-style: groove;
    border-radius: 25px;
    border-color: tan;
    box-shadow: 10px 15px tan;
    padding: 25px;
}
/* TODO: Continue working on styling of Nav bar */
#nav-bar {
    background-color: tan;
}

.nav-link {
    color: maroon;
 }



/* =============================================================== */
/* =============================================================== */
/* styling for Homepage.handlebars blog container to hold user title and inputs */

.blog-container {
    position: relative;
    left: 300px;
    top: 75px;
    width: 900px;
    height: fit-content;
    border-style: solid;
}

#user-subject {
    padding: 20px
}

#user-body {
    padding: 60px 60px 100px 60px;
    background-color: white;
}






/* =============================================================== */
/* =============================================================== */
/* Styling for login.handlebars - Login/sign up page */

.form-container {
    display: flex;
   justify-content: space-evenly;
   padding-top: 100px;
}

.form-group {
    padding: 5px;
}

button {
     position: relative;
     top: 25px;
     left: 100px;
}




/* =============================================================== */
/* =============================================================== */
/* Styling for profile.handlebars */

.profile-greeting {
    padding: 25px;
    font-size: 50px;
    color: maroon;
}




/* =============================================================== */
/* =============================================================== */
/* Styling for newpost.handlebars - new post form fields */

.New-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: maroon;
    width: 65%;
    height: 100%;
    
    
}

#create-post {
    background-color: maroon;
    width: 100%;
    text-align: left;
    padding: 15px;
    color: tan;
}

.form-group {
    margin: 10px;
}

#post-title {
    width: 400px;
    height: 30px;
    text-align: center;
}

#post-body {
    width: 700px;
    height: 200px;
    text-align: start;
    
}

#submit-btn {
    background-color: maroon;
    color: tan;
    border-color: maroon;
}